.body{
  background-color: #252525 ;
}
.container{
  width:100%;
  max-width: 1000px;
  margin: 0 auto;
}
.dark{
  position: relative;
  top:-18rem;
  width:50%;
  margin:0 auto;
  background-color:#313131;
  color:#FFF;
}